
$primary-color:#1E1E24;
$secondary-color:#3A5751;
$tertiary-color:#FCDAD8;
$background-color:#FAF4ed;
$fourth-color:#A9BFDE;

$font-display: "Red Hat Display", sans-serif;
$font-body: "Montserrat", sans-serif;
$font-accent: "Playfair Display", serif;
