@use "../../assets/sass/abstracts/variables" as *;
@use "../../assets/sass/abstracts/mixin" as *;


.carousel__button {
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  @include flex-center-column;
  border: none;
  background-color: $color-pink;
  .carousel__button-image {
    padding: 0.5rem;
  }
}
.carousel__button--inactive {
  opacity: 50%;
}
