@use "../../assets/sass/abstracts/variables" as *;
@use "../../assets/sass/abstracts/mixin" as *;


.carousel__button {
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  @include flex-center-column;
  border: none;
  background-color: $color-pink;
  .carousel__button-image {
    width: 1rem;
    height: 1rem;
  }
}
.carousel__button--inactive {
  opacity: 50%;
}
.carousel__copy-button {
  background-color: $color-green;
  border: none;
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  > a {
    color: $color-pink;
    text-decoration: none;
    font-weight: 800;
  }
}
.carousel__copy-button:hover {
  background-color: $color-pink;
  transition: 0.25s ease-in-out;
  > a {
    color: $color-green;
    transition: 0.25s ease-in-out;
  }
}
