@use "../../assets/sass/abstracts/mixin" as *;
@use "../../assets/sass/abstracts/variables" as *;


.carousel{
.carousel__container{
.carousel-item{
    @include flex-center-column;
.carousel-item__copy{
    width: 15rem;
    .carousel-item__header{
        width: 100%;
    }
    .carousel-item__text {
        width: 100%; 
    }
}
}
}
}