@use "../../assets/sass/abstracts/mixin" as *;
@use "../../assets/sass/abstracts/variables" as *;

.card {
  background-color: $color-green;
  border-radius: 1.25rem 0.25rem 1.25rem 0.25rem;
  width: 100%;
  padding: 1rem;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 19rem;
  .card__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .card__icon {
      width: 1rem;
      height: 1rem;
      @media only screen and (min-width: $tablet-breakpoint) {
        width: 1.5rem;
        height: 1.5rem;
      }
      @media only screen and (min-width: $desktop-breakpoint) {
        width: 1.75rem;
        height: 1.75rem;
      }
      align-self: center;
    }

    .card__title {
      color: $color-background;
      flex-grow: 1;
      font-size: 1rem;
      align-self: center;
      font-family: $font-body;
      margin-left: 1rem;
      @media only screen and (min-width: $desktop-breakpoint) {
        font-size: 1.25rem;
      }
    }
    .card__button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
      background-color: transparent;
      border: none;

      .card__drop-down {
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        transition: 0.3s;
        transform: rotate(90deg);
      }
      .card__drop-down--active {
        transform: rotate(180deg);
      }
    }
  }
  .card__content {
    color: $color-background;
    color: $color-grey;
    margin-left: 2rem;
    @media only screen and (min-width: $tablet-breakpoint) {
      margin-left: 2.5rem;
    }
    @media only screen and (min-width: $desktop-breakpoint) {
      margin-left: 2.75rem;
    }
  }
}

@keyframes rotate-90 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
