@use "../../assets/sass/abstracts/mixin" as *;
@use "../../assets/sass/abstracts/variables" as *;
@use "../../assets/sass/base/typography" as *;

.skills{
    background-image: url("../../assets/images/flowers/backgroundflower.svg");
    background-position: 104% -28%;
    background-repeat: no-repeat;
    background-size: 23rem 50rem;
}

.skills-container{
    display: flex;
    gap: 0.5rem;
    grid-area: 3/3/8/11;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


    .skills__col-1, .skills__col-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;
        width: 100%;
        @media only screen and (min-width:$tablet-breakpoint) {
            width: 49%;
        }
    }
}