@use "../../assets/sass/abstracts/mixin" as *;
@use "../../assets/sass/abstracts/variables" as *;
@use "../../assets/sass/base/typography" as *;

.skills{
    background-image: url("../../assets/images/flowers/backgroundflower.svg");
    background-position: 104% -28%;
    background-repeat: no-repeat;
    background-size: 23rem 50rem;
}

.skills-container{
    display: grid;
    grid-area: 3/3/8/11;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(4,1fr);
    gap: 1rem;
}