@use "../../assets/sass/abstracts/mixin" as *;
@use "../../assets/sass/abstracts/variables" as *;
@use "../../assets/sass/base/typography" as *;

.skills {
  background-image: url("../../assets/images/wave.svg");
  background-size: 160% 60%;
  background-repeat: no-repeat;
  // background-size: cover;
  @media only screen and (min-width: $tablet-breakpoint) {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .skills-container {
    display: flex;
    gap: 0.5rem;
    grid-area: 3/3/8/11;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @media only screen and (min-width: $tablet-breakpoint) {
      grid-area: 3/2/8/12;
    }
    @media only screen and (min-width: $desktop-breakpoint) {
      grid-area: 3/3/8/11;
    }

    .skills__col-1,
    .skills__col-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.5rem;
      @media only screen and (min-width: $tablet-breakpoint) {
        width: 49%;
      }
    }
  }
}
