@use "../../assets/sass/abstracts/mixin" as *;
@use "../../assets/sass/abstracts/variables" as *;

.carousel{
    @include flex-center-column;

    .carousel__image-container{
        gap: 1rem;
        display: flex;
        justify-content: flex-start;
        width: 50%;
    }
    .carousel__buttons{
        display: flex;
        justify-content: flex-start;
        width: 50%;
    }
    .carousel__copy{
            width: 50%;
            .carousel__header{
                width: 100%;
                height: 20%; 
            }
            .carousel__text {
                width: 100%;
            }
    }
}
