@use "../../assets/sass/abstracts/mixin" as *;
@use "../../assets/sass/abstracts/variables" as *;

.carousel {
  grid-area: 3/3/8/11;
  .carousel__image-container {
    position: relative;
   display: flex;
   gap: 0.25rem;
    
    .carousel__flower{
      position: absolute;
      z-index: 1;
    }
    
    .carousel__flower--pink {
      width: 7rem;
      width: 7rem;
      left: -9%;
      top: 42%;
      @media only screen and (min-width: $desktop-breakpoint) {
        left: -4%;
      }
      //    left: -9%;
    }
    .carousel__flower--petals {
      width: 3rem;
      left: -7%;
      top: 4%;
      transform: rotate(-20deg);
      @media only screen and (min-width: $desktop-breakpoint) {
        left: -3%;
      }
    }
    .carousel__flower--blue {
      width: 6rem;
      height: 6rem;
      left: 85%;
      top: 75%;
    }
  }
  .carousel__buttons {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin: 1rem 0rem;
  }
}
