@use "../../assets/sass/abstracts/variables" as *;

header{
    position:absolute;
.navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    background-color: $color-background;
    .navbar__logo{
        height: 50%;
        flex-grow: 2;
    }

    .navbar__links{
        list-style-type: none;
        color: $color-green;
        display: none;
        width: 75%;
        @media only screen and (min-width: 1024px)  {
        display: flex;
        justify-content: space-around;
        text-align: end;
        }
        
    }
    .navbar__hamburger{
        width: 4vmin;
        height: 4vmin;
        flex-grow: 6;
        display: flex;
        justify-content: end;
    @media only screen and (min-width: 1024px)  {
        display: none;
        
    }
    }
}
}